<div id="fixture">
    <form>
        <fieldset>
            <legend>Enter <strong>date</strong> and <strong>customer id</strong></legend>
            <label for="dlMonths">Select month: </label>
            <select name="dlMonths" id="dlMonths" required="true">
                <option>-- Month --</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>

            <label for="txtYear">Year: </label>
            <input type="text" id="txtYear" required="true"/>

            <p>
                <br/>
                <label for="txtCustomerId">Customer Id: </label>
                <input type="text" id="txtCustomerId" required="true" />
            </p>
        </fieldset>

        <br/>
        <button aria-label="Submit query" id="btnQuery">Submit query</button>
    </form>

    <div id="results">
    </div>
</div>